
<A name="admin"><h3>Administration and Service</h3></A>
<DL>
<DT>Community
<DD>Member, Ontario Graduate Schools Scholarship Committee (2008-9)
<DD>Member, Sun Microsystems /  <A href="http://www.hpcvl.org">HPCVL</A> Scholarship Committee, 2001-4.
<DT>University
<DD>Member, Senate Committee on Cyclical Program Review (2015-8)</DD>
<DD>Member, Executive Committee, Data Analytics and Computing Research Group</DD>
<DD>Member, Steering Committee, Queen's Research Data Centre (2013-)</DD>
<DD>Member, Graduate School Awards Committee (2010)
<dd>Acting Director, Queen's Collaborative Graduate Program in Computational Science and Engineering (2009)
<dd>Arts and Sciences Award Committee (Member, 2008-11, Chair 2009-11)
<dd>Chair, Internal Academic Review Committee, School of Computing (2006-7)
<dd>Academic Director, Queen's Research Data Centre (2004-11)
<dd>Member, Steering Committee, Queen's Research Data Centre (2012-)
<dd>Member of High Performance Computing Review Committee (2006-)
<dd>Member of Management Committee &amp; Departmental Representative, Queen’s Collaborative Graduate Specialization in Computational Science and Engineering (QCSE) (2005-10)
<dd>Organizing Committee, QCSE (2002-4)
<dd>Chancellor's Award Committee (2004,06,07,12,14)
<DD>Arts &amp; Sciences Computing Committee (2001-4, Chair 2001-4)
<DD>Economics Headship Search Committee (1999-00)
<DD>Dean's Library Advisory Committee (1997)
<DD>Document Library Data User Group (1997)
<DD>Review of Faculty of Education Committee (1996)
<DD>Sub-committee on Numerically Intensive Computing (1994-95)
<DD>Queen's Numerically Intensive Computing Group (1996-)
<DD>School of Industrial Relations Advisory Board (1993-)
<DD>Task Force on Student Notebook Computing (1996)
<DT>Department</DT>
<DD>Chair, Scarthingmoor Prize Committee (2012-3)</DD>
<DD>Member, Visitors Committee (2011)</DD>
<dd>Director, John Deutsch Institute  (2009-2016)</dd>
<DD>Member, Curtis Prize Committee (2009, 2015, 2017)</DD>
<dd>Director, PhD Placement (2005-2009, 2014-2015)</dd>
<DD>Member, Graduate Admissions (2018)</DD>
<DD>Faculty Appointments Committee (1998-00, 2006, 2013-14)</DD>
<DD>QNS in Neuroeconomics Search Committee (2017-18)</DD>
<DD>Computing Committee (1994-2002, Chair 95-96)</DD>
<DD>Undergraduate Studies (1995-97)</DD>
<DD>Quantitative Workshop (1993-94,98-00)</DD>
<DD>Undergraduate Advisor (1993-94, 2001-2)</DD>
</DL>
