<DL><DT>Graduate</DT>
<DD>Econ 999: PhD Seminar (1/2 98-00, 03-05, (Full 06), 1/2 07-08, F18</dd>
<DD>Econ 960: Advanced Topics in Labour Economics (F90-91, F93-94, 1/2 F95)</dd>
<DD>Econ 950/1/4: Advanced Topics in Econometrics / Quantitative Economics (1/2 F95, NHH F00, F02, W99, W01, W09, F11, F12, W14)</dd>
<DD>Econ 916: Advanced Topics in Macroeconomics (W07)</dd>
<DD>Econ 882: Research Problems and Methodology (W13, W14)</DD>
<DD>Econ 860/1: Labour Economics (W91-92, 1/2 in F94, W94-96, NHH W98, F98, W00-02, NYU F01, W06, F14, W16- W18)</dd>
<DD>Methods Review (MA \& PhD): F01, F03-04, F07-18</DD>
<DT>Undergraduate</DT>
<DD>Econ 483/6: Seminar in Microeconomics (W03, W06, W08, W09)</dd>
<DD>Econ 360: Labour Economics (W99, W00, W03)</dd>
<DD>Econ 452: Applied Econometrics (F99, W00, W01, F14, F15, W17-18)</dd>
<DD>Econ 354: Computational Methods (W16, F16, F17, F18)</dd>
<DD>Econ 351: Introductory Econometrics (F90-91, FW94-95, W96, F09-10, W10-11)</dd>
<DD>Econ 212: Intermediate Microeconomics (F93, CMU F92 W93)</dd>
</DL>
