
<DL>

<DT><em>2019</em></DT>
<DD>Guelph</DD>
<DT><em>2014</em></DT>
<DD>Dalhousie</DD>
<DT><em>2013</em></DT>
<DD>Federal Reserve Bank of Minneapolis, U. Minnesota</DD>
<DT><em>2012</em></DT>
<DD>UC-Santa Barbara</DD>
<DT><em>2011</em></DT>
<DD>Summer Institute for Theoretical Economics (<a href="http://www.stanford.edu/group/SITE/SITE_2011/2011_segment_2/2011_segment_2_program.html">Segment 2</a>).</dd>
<DT><em>2010</em></DT>
<DD>Seminars: Federal Reserve Bank of New York</dd>

<DT><em>2009</em></DT>
<DD>Seminars: McMaster, Western Ontario, NYU</dd>

<DT><em>2008</em></DT>
<DD><a href="http://www.clsrn.econ.ubc.ca/hrsdc/">Joint CLSRN and HRSDC Workshop</a>, Toronto <br/>Seminars: Calgary, Oslo</DD>

<DT><em>2007</em></DT>
<DD>Seminars: Penn, Wisconsin, ITAM, Bank of Canada, Duke.</dd>
<DT><em>2005</em></DT>
<DD>Structural Models in Labor, Aging, and Health, Duke;</dd>
<DT><em>2004</em></DT>
<DD>
  Labor Market Policy Evaluation, Seville;
  <br/>Seminars: CEMFI (Madrid), Northwestern, Northern Illinois, HEC-Montreal, Federal Reserve Bank of Chicago, Minnesota, Concordia.
</DD>
<DT><em>2003</em></DT>
<DD>Econometrics Society, Washington;    Human Capital, Productivity And The Labour Market, Western Ontario;
  <br/>Seminars: Chicago.</DD>

<DT><em>2002</em></DT>
<DD>Society for Economic Dynamics, New York;
  Canadian Econometrics Study Group, Quebec;
  <br/>Seminars: Federal Reserve Bank of Chicago, Brown, Concordia.
  </DD>

<DT><em>2001</em></DT>
<DD>
<!--Organized <A href="http://qed.econ.queensu.ca/pub/faculty/ferrall/niepa/niepa.html">Numerically Intensive Economic Policy Analysis</A>;-->
<A href="http://www.econometricsociety.org/es/meetings/SCE2001.html">Society for Computational Economics</A>, Yale;
<A href="http://www.econ.queensu.ca/cea2001/">Canadian Economics Association</A>, Montreal;
<A href="http://www.hpcvl.org">HPCVL Symposium</A>, Kingston;
<br/>Seminars: Penn State, Laval, NYU, SUNY-Stony Brook.
</DD>

<DT><em>2000</em></DT>
<DD>
<A href="http://www.econ.yale.edu/seminars/sdm/sdm.html">The Econometrics of Strategy and Decision Making</A>, Yale;
<A href="http://www2.unimaas.nl/~eale/conference/eale2000/index.htm">EALE/SOLE World Labor Conference</A>, Milan;
"Economic Analysis of Linked Employee-Employer Data", Aarhus;
Labour Market and Employment (plenary session), Oslo;
<br/>Seminars: Iowa, Minnesota, Oslo, Tinbergen Institute
</DD>

<DT><em>1999</em></DT>
<DD> <A href="http://www.econometricsociety.org/meetings/es99/">North American Winter Econometric Society Meeting</A>, New York.</DD>

<DT><em>1998</em></DT>
<DD>CERF Conference on Labour Market Transitions, Ottawa.;
  <br/>Seminars: Bergen, IIES Stockholm, Uppsala, NYU.</DD>

<DT><em>1997</em></DT>
<DD>Seminars: Tilburg, Amsterdam, Edinburgh, Leeds, Stirling, Aberdeen, Glasgow, Norwegian School of Economics.</DD>

<DT><em>1996</em></DT>
<DD>International Health Economics Association, Vancouver;  <br/>Seminars: McMaster, Carnegie Mellon - Pittsburgh Applied Micro Workshop, University of California-San Diego.</DD>

<DT><em>1995</em></DT>
<DD><em>North American Labour Markets in Transition</em>, Fettschrift for Steve Kaliski, Kingston;
Summer Institute for Theoretical Economics, Stanford;
Econometrics Society Meetings San Francisco;
<br/>Seminars: Guelph, Laval, UQAM, U. Western Ontario.</DD>

<DT><em>1994</em></DT>
<DD> Canadian Employment Research Forum (Calgary); Econometrics Society Meetings (Quebec);
<br/>Seminars: Wilfrid Laurier, Lakehead</DD>

<DT><em>1993</em></DT>
<DD> Canadian Employment Research Forum (Vancouver); Econometrics Society Meetings (Boston);
<br/>Seminars: Michigan</DD>
<DT><em>1992</em></DT><DD>
<em>Incentives and Contracts:  Theory and Evidence,</em>  (U. of Montreal);
<br/>Seminars: Toronto, McMaster, Carnegie Mellon </DD>
<DT><em>1991</em></DT><DD>
Canadian Econometrics Study Group (Quebec);
<br/>Seminars: Concordia, McGill</DD>
<DT><em>1990</em></DT>
<DD>
<em>Empirical Application of Structural Models</em>, University of Wisconsin;
<br/>Seminars: Queen's, Toronto.</DD>

</DL>
