
<DL>

<em>2019</em>
: Guelph

<em>2014</em>
: Dalhousie

<em>2013</em>
: Federal Reserve Bank of Minneapolis, U. Minnesota

<em>2012</em>
: UC-Santa Barbara

<em>2011</em>
: Summer Institute for Theoretical Economics (<a href="http://www.stanford.edu/group/SITE/SITE_2011/2011_segment_2/2011_segment_2_program.html">Segment 2</a>).

<em>2010</em>
: Seminars: Federal Reserve Bank of New York

<em>2009</em>
: Seminars: McMaster, Western Ontario, NYU

<em>2008</em>
: <a href="http://www.clsrn.econ.ubc.ca/hrsdc/">Joint CLSRN and HRSDC Workshop</a>, Toronto 
: Seminars: Calgary, Oslo


<em>2007</em>
: Seminars: Penn, Wisconsin, ITAM, Bank of Canada, Duke.

<em>2005</em>
: Structural Models in Labor, Aging, and Health, Duke;

<em>2004</em>
: Labor Market Policy Evaluation, Seville;
: Seminars: CEMFI (Madrid), Northwestern, Northern Illinois, HEC-Montreal, Federal Reserve Bank of Chicago, Minnesota, Concordia.

<em>2003</em>
: Econometrics Society, Washington;    Human Capital, Productivity And The Labour Market, Western Ontario;
: Seminars: Chicago.


<em>2002</em>
: Society for Economic Dynamics, New York; Canadian Econometrics Study Group, Quebec;
: Seminars: Federal Reserve Bank of Chicago, Brown, Concordia.


<em>2001</em>
<!--Organized <A href="http://qed.econ.queensu.ca/pub/faculty/ferrall/niepa/niepa.html">Numerically Intensive Economic Policy Analysis</A>;-->
: <A href="http://www.econometricsociety.org/es/meetings/SCE2001.html">Society for Computational Economics</A>, Yale; <A href="http://www.econ.queensu.ca/cea2001/">Canadian Economics Association</A>, Montreal; <A href="http://www.hpcvl.org">HPCVL Symposium</A>, Kingston;
: Seminars: Penn State, Laval, NYU, SUNY-Stony Brook.

<em>2000</em>
:<A href="http://www.econ.yale.edu/seminars/sdm/sdm.html">The Econometrics of Strategy and Decision Making</A>, Yale; <A href="http://www2.unimaas.nl/~eale/conference/eale2000/index.htm">EALE/SOLE World Labor Conference</A>, Milan; "Economic Analysis of Linked Employee-Employer Data", Aarhus; Labour Market and Employment (plenary session), Oslo;
: Seminars: Iowa, Minnesota, Oslo, Tinbergen Institute

<em>1999</em>
:  <A href="http://www.econometricsociety.org/meetings/es99/">North American Winter Econometric Society Meeting</A>, New York.

<em>1998</em>
: CERF Conference on Labour Market Transitions, Ottawa.;
: Seminars: Bergen, IIES Stockholm, Uppsala, NYU.

<em>1997</em>
: Seminars: Tilburg, Amsterdam, Edinburgh, Leeds, Stirling, Aberdeen, Glasgow, Norwegian School of Economics.

<em>1996</em>
: International Health Economics Association, Vancouver;  
: Seminars: McMaster, Carnegie Mellon - Pittsburgh Applied Micro Workshop, University of California-San Diego.

<em>1995</em>
: <em>North American Labour Markets in Transition</em>, Fettschrift for Steve Kaliski, Kingston; Summer Institute for Theoretical Economics, Stanford; Econometrics Society Meetings San Francisco;
: Seminars: Guelph, Laval, UQAM, U. Western Ontario.


<em>1994</em>
: Canadian Employment Research Forum (Calgary); Econometrics Society Meetings (Quebec);
: Seminars: Wilfrid Laurier, Lakehead

<em>1993</em>
: Canadian Employment Research Forum (Vancouver); Econometrics Society Meetings (Boston);
: Seminars: Michigan

<em>1992</em>
: <em>Incentives and Contracts:  Theory and Evidence,</em>  (U. of Montreal);
: Seminars: Toronto, McMaster, Carnegie Mellon

<em>1991</em>
: Canadian Econometrics Study Group (Quebec);
: Seminars: Concordia, McGill

<em>1990</em>
: <em>Empirical Application of Structural Models</em>, University of Wisconsin;
: Seminars: Queen's, Toronto.

</DL>
