<DL>
<DT><table cellspacing=2>
<tr><td align=right valign=top rowspan="2"><em>Position:</em></td><td>Professor, <a href="http://econ.queensu.ca/">Department of Economics</a>, <a href="http://www.queensu.ca">Queen's University</a></td></tr>
<tr><td>Director,  <a href="http://jdi.econ.queensu.ca/">John Deutsch Institute for the Study of Economic Policy</a></td></tr>
<!--<tr><td>Academic Director,  <a href="http://www.queensu.ca/qrdc/">Queen's Research Data Centre</a></td></tr>-->
<tr><td align=right valign=top><em>Research Interests</em>:</td><td>Computational economic policy analysis.</td></tr>
<tr><td align=right valign=top><em>Citizenship:</em></td><td>USA; Permanent Resident of Canada</td></tr>
<tr><td align=right valign=top><em>Personal</em>:</td><td>Married; 3 children.</td></tr>
</table></DT>
</DL>
