
<dt>Ph.D., <a href="http://www.econ.umn.edu/">Economics</a>, <a href="http://www.umn.edu/">University of Minnesota</a>, 1990.</dt>
  <dd>Thesis: <I><A href="http://wwwlib.umi.com/dissertations/fullcit/9112682">
    Agents Becoming Principals: Theory And Estimation of a Tournament Model Of Promotions In Partnerships</A>.</I> Advisor: <a href="http://economics.sas.upenn.edu/faculty/kenneth-wolpin">Kenneth I. Wolpin</a>
  </dd>
<dt>B.A., <a href="http://business.uwyo.edu/ECONFIN/">Economics</a> and  <a href="http://www.cs.uwyo.edu/">Computer Science</a>,<a href="http://www.uwyo.edu/">University of Wyoming</a>, 1984.</dt>
