<DL>

Current
: Professor of Economics, Queen's University, 2012.

Previous
: Director, John Deutsch Institute for the Study of Economic Policy, 2009-16.
: Associate Professor of Economics, Queen's University, 1999-2012.
: Adjunct Associate Professor of Economics, <a  target="_blank" href="http://www.econ.nyu.edu/">New York University</a>, Fall 2001.
: Research Fellow, <a  target="_blank" href="http://www.snf.no/">SNF</a>, Bergen, Norway, 1998-00.
: Guest Professor, Dept. of Economics, <a  target="_blank" href="http://www.nhh.no/">Norwegian School of Economics</a>, F2000.
: Assistant Professor, Queen's University, July, 1991 - June, 1999.
: Guest Professor, Dept. of Economics, <a  target="_blank" href="http://www.nhh.no/eindex.htm">Norwegian School of Economics</a>, 1997-98.
: Visiting Assistant Professor, <a  target="_blank" href="http://www.gsia.cmu.edu/">GSIA, Carnegie Mellon University</a>, 1992-93.
: Lecturer, Queen's University, 1990-1991.
: Summer Research Fellow, <a  target="_blank" href="http://www.mitsui-marine.com.sg/index.htm">Mitsui Marine</a> Research  Institute, Tokyo, Japan, 1991.
: Teaching Assistant, Univ. of Minnesota, 1985-1990
: Consultant, <a  target="_blank" href="http://www.worldbank.ORG/">World Bank</a>, 1988, <a  target="_blank" href="http://links.jstor.org/sici?sici=0022-3808%28199304%29101%3A2%3C223%3ACMCCSA%3E2.0.CO%3B2-N">see Rosenzweig and Wolpin, JPE 1993</a>
: Visiting Scholar, Department of Economics, Univ. of Michigan, 1987
: Research Assistant, <a  target="_blank" href="http://www.econ.lsa.umich.edu/">Univ. of Michigan</a> and <a  target="_blank" href="http://WWW.NBER.ORG/">NBER</a>, 1987
: Research Assistant, Department of Economics, Univ. of  Wyoming, 1985, see <a  target="_blank" href="http://links.jstor.org/sici?sici=0002-8282%28198709%2977%3A4%3C554%3AMTVOAP%3E2.0.CO%3B2-F">Brookshire and Coursey, AER 1987</a>
: Instructor, Department of Computer Science, Univ. of Wyoming, 1985
: Research Assistant, Department of Agricultural Engineering, Univ. of Wyoming, 1984, see <a  target="_blank" href="http://www.wrds.uwyo.edu/library/wrp/84-14/84-14.html">Pochop et al. (1984).</a>

</DL>
