<DT>Current</DT>
<DD>Professor of Economics, Queen's University, 2012.</dd>
<DD>Director, John Deutsch Institute for the Study of Economic Policy, 2009-16.</dd>
<DT>Previous</dt>
<DD>Associate Professor of Economics, Queen's University, 1999-2012.
<DD>Adjunct Associate Professor of Economics, <a href="http://www.econ.nyu.edu/">New York University</a>, Fall 2001.</dd>
<DD>Research Fellow, <a href="http://www.snf.no/">SNF</a>, Bergen, Norway, 1998-00.</dd>
<DD>Guest Professor, Dept. of Economics, <a href="http://www.nhh.no/">Norwegian School of Economics</a>, F2000.</dd>
<DD>Assistant Professor, Queen's University, July, 1991 - June, 1999.</dd>
<DD>Guest Professor, Dept. of Economics, <a href="http://www.nhh.no/eindex.htm">Norwegian School of Economics</a>, 1997-98.
<DD>Visiting Assistant Professor, <a href="http://www.gsia.cmu.edu/">GSIA, Carnegie Mellon University</a>, 1992-93.</dd>
<DD>Lecturer, Queen's University, 1990-1991.</dd>
<DD>Summer Research Fellow, <a href="http://www.mitsui-marine.com.sg/index.htm">Mitsui Marine</a> Research  Institute, Tokyo, Japan, 1991.</dd>
<DD>Teaching Assistant, Univ. of Minnesota, 1985-1990</dd>
<DD>Consultant, <a href="http://www.worldbank.ORG/">World Bank</a>, 1988,
<a href="http://links.jstor.org/sici?sici=0022-3808%28199304%29101%3A2%3C223%3ACMCCSA%3E2.0.CO%3B2-N">see Rosenzweig and Wolpin, JPE 1993</a> </dd>
<DD>Visiting Scholar, Department of Economics, Univ. of Michigan, 1987</dd>
<DD>Research Assistant, <a href="http://www.econ.lsa.umich.edu/">Univ. of Michigan</a> and <a href="http://WWW.NBER.ORG/">NBER</a>, 1987</dd>
<DD>Research Assistant, Department of Economics, Univ. of  Wyoming, 1985,
see <a href="http://links.jstor.org/sici?sici=0002-8282%28198709%2977%3A4%3C554%3AMTVOAP%3E2.0.CO%3B2-F">Brookshire and Coursey, AER 1987</a></dd>
<DD>Instructor, Department of Computer Science, Univ. of Wyoming, 1985</dd>
<DD>Research Assistant, Department of Agricultural Engineering,
Univ. of Wyoming, 1984, see
<a href="http://www.wrds.uwyo.edu/library/wrp/84-14/84-14.html">Pochop et al. (1984).</a></dd>
