
<DL>

<DT>SSHRC/CIHR</DT>

<DD><em>SSHRC Strategic Joint Initiatives</em> , no. 840-2010-0001, "Canadian Research Data Centre Network: Integrating New Initiatives for a Stronger Future", 2010-2014, approximately $25,000 per year to Queen's; Role: co-investigator.</em></dd>

  <DD><em>CIHR Grant, Canadian initiative on social statistics (CISS) data training schools and research training centres," 2010-2014, approximately $25,000 per year to Queen's; Role: co-investigator.</em></dd>

<DD><em>Initiative on the New Economy Research Grant</em>, no. 501-2002-0123, "Public Policy Implications of Workplace and Household Interactions in the New Economy,"  $172,620, 2003-05; Role: PI</DD>

<dd><em>Research Grant</em>, "Econometrics of labour-market incentive contracts," $57,994; Role: Collaborator; (PI: Bruce Shearer).</DD>

<DD><em>Research Grant</em>, no. 410-99-1533, "Matching Models and Matched Data Sets," $39,330, 1999-02; Role: PI</DD>

<DD><em>Strategic Grant</em>, no. 884-95-0002, "School Quality, Educational Attainment, and Success in the Labour Market,"
$94,626, 1995-99; Role: PI</DD>

<DD><em>Research Grant</em>, no. 410-92-0791, "Structural Estimation: Information and Labour Market Incentives," $33,211, 1992-96. </DD>

<DT>Other Agencies</DT>

<dd><i>Canada Foundation for Innovation (Innovation Fund)</i> ($12,836,440) and
<i>Ontario Ministry of Economic Development and Trade</i> (matching grant $12,836,440), "A Secure Multidisciplinary High Performance Computing Virtual Laboratory for Innovative Research," (one of 10 principal investigators), 2004.
</dd>

<!-- <dd><em>Ontario Research Development Challenge Fund</em>, "Innovative Research Using High Performance Computing," (one of 10 principal investigators), applied for $11,615,303 in 2003-2007.</dd>-->

<DT>Research Contracts</DT>

<DD><em>HRSDC</em>, Labour Market Outcomes and Determinants of Success for the Integration of Internationally-educated Immigrants in the Canadian Labour Market: A Quantitative Study, 2014.</DD>

<DD><em>Canadian Labour Market and Skills Researcher Network</em>, "This is Cranial Tap: Canadian Outsourcing of Doctorate Education Since 1958," $15,000.</DD>

<DD><em>Human Resource Development Canada and Social Research Demonstration Corporation</em>, "The Dynamics of Income Assistance," 2 years, $11,500.</DD>

<DD><em>Statistics Canada</em>, "The Role of University Quality in Determining Post-Graduate Outcomes: Panel Evidence from Three Recent Canadian Cohorts," with Julian Betts (principal investigator) and Ross Finnie, 1 year.</DD>

<DD><em>Statistics Canada</em>, "The Transition to Work for the Canadian Graduate: Time to First Job, 1982-1990," with Julian Betts and Ross Finnie, 1 year, $5000.</DD>

<DT>Queen's</DT>
<DD><em>Fund to Create Open Textbook</em>, "Computation for Economics,", $7500, 2019-2020.</DD>
<DD><em>Principal's Development Fund</em>, "A HyperText Course in Econometrics," $2500, 1995-96.</DD>
<DD><em>Centre for Resource Studies</em>,  "Incentives, Risk and Optimal Extraction in the Mining Firm," with Bruce Shearer, $4800, 1991.</DD>
<DD><em>Advisory Research Council and Principal's Development Fund</em>,  "Empirical Analysis of Occupational Hierarchies," $2300, 1990.</dd>

</DL>
