
<DL>
<!-- <DT><em><a target="_blank"  href="papers/ferrall_srdc.pdf">The Dynamics of Income Assistance: Evidence from the Self-Sufficiency Project</A></em>, research report,
Social Research Demonstration Corporation, May 2000.
<DT><em><a target="_blank"  href="http://edith.econ.queensu.ca/data/">QED Data Archive</A></em> and <em>QEDStata laboratory software</em>
running at <TT>http://edith.econ.queensu.ca/</TT>.-->

<DT><em><a target="_blank"  href="http://www.irpp.org/po/archive/jul97/betts.pdf">Policies for Improving Public Schools</a></em>, with <a target="_blank"  href="http://weber.ucsd.edu/~jbetts/">Julian R. Betts</a>, <a target="_blank"  href="http://www.irpp.org/po/"><strong>Policy Options</strong></a>,
18, 6, July/August, 1997, 35-39.</DT>
<DD></DD>
<DT><em>Non-linearity in Rates of Assimilation Among Canadian Immigrants</em>,
with Stella Cheung and Gregory Matthews, in <a target="_blank"  href="http://jdi.econ.queensu.ca/Files/publications.html"><strong>North American Labour Markets in Transition</strong></a>,
M. Abbott, C. Beach, and R. Chaykowsky (eds.): Industrial Relations Centre and John Deutsch Institute, Queen's University, 1997.</DT>
<DD></DD>
<DT><em><a target="_blank"  href="http://www.jstor.org/view/08837252/di990739/99p0190d/0">A Review of Stata 3.1</a></em>,
<a target="_blank"  href="http://jae.wiley.com/jae"><strong> Journal of Applied Econometrics</strong></a>,
 vol. 9, 1994, 469-477.</DT>
<DD></DD>
<DT><em>Pay-for-Performance in Mining: An Analysis of Historical Data on Production Bonuses</em>, with Bruce Shearer, <strong>CRS Perspectives</strong>,
46 September/October, 1993, 2-12.</DT>

</DL>
