<h3><A name="proj">Work in Progress</A></h3>
<DL>

<DT><em>Niqlow</em>, a software package.</DT>

<DT><em>Computation for Economists</em>, textbook</DT>

<DT>"Object Oriented (Dynamic) Programming: Replication and Innovation in Structural Estimation," manuscript</DT>

<DT>"College Choice, Credit Constraints and Educational Attainment," manuscript, with Michael Barber</DT>

<!--<DT><em>Bayes-Nash Equilibrium in Multi-Stage, Multi-Player Games: Empirical Implications of Beliefs in Tennis Tournaments</em></DT>-->

<!--<DT><em>School Choice and Post-Secondary Education: Evidence From Canada</em>, with Christopher Jones.</DD>-->

<!--<DT><em>Bayesian Estimation of Games with Incomplete Information</em>, with  Jean-Francois Houde, Susumu Imai, and Maxwell Pak.</DT>-->

<!-- <DT><em>Share Auctions Under Uniform and Discriminatory Pricing: Analysis of Panel Data on Treasury Auctions</em>, with Pamela Cardozo</DT> -->

<!--<DT></DT><DD>&nbsp;</DD>-->
</DL>
