
<DL>

<DT><em>The Role of University Characteristics in Determining Post-Graduation Outcomes: Panel Evidence from Three Canadian Cohorts</em>,  with <a target=_blank href="http://weber.ucsd.edu/~jbetts/">Julian Betts</a> and Ross Finnie, <a target=_blank href="http://economics.ca/cpp"><strong>Canadian Public Policy</strong></a> 39, 81-106, May, 2013.

<DT><em><a target=_blank href="http://restud.oxfordjournals.org/content/early/2012/02/14/restud.rds008.full.pdf+html">Explaining and Forecasting Results of The Self-Sufficiency Project</a></em>, <B><a target=_blank href="http://www.restud.com/">Review of Economic Studies</a></B>, 79(4), 2012, 1495-1526. doi:10.1093/restud/rds008.

<DT><em><a target=_blank href="http://www.frontiersin.org/behavioral%20neuroscience/10.3389/neuro.08.057.2009/abstract">Modeling the value of strategic actions in the Superior Colliculus</a></em>, by Dhushan Thevarajah, Ryan Webb, Christopher Ferrall and Michael C. Dorris,  <B>Frontiers in Behavioral Neuroscience</B>, 3, 57, February, 2010, 14 pages, doi: <tt>10.3389/neuro.08.057.2009.</tt></DT>

<DT><a target=_blank href="http://econ.queensu.ca/~ferrall/papers/mixtures.pdf"><I>Solving Finite Mixture Models: Efficient Computation in Economics under Serial and Parallel Execution</I></A>, <a target=_blank href="http://www.kluweronline.com/issn/0927-7099"><B>Computational Economics</B></A>, 25, 4 (June), 343-379, 2005</DT>

<DT><a target=_blank href="http://www.jstor.org/stable/3663540"><em>Unemployment Insurance and the Business Cycle</em></a>, with <a target=_blank href="http://www.umanitoba.ca/faculties/arts/economics/Laura_Brown/">Laura Brown</a>,  <a
href="http://www.ssc.upenn.edu/econ/iereview/"><strong>International Economic Review</strong></a>, 44, 3 (August),  863-894, 2003.

<DT><em><a target=_blank href="http://econ.queensu.ca/~ferrall/papers/scores.pdf">Wage and Test Score Dispersion: Some International Evidence</A></em>,
with <a target=_blank href="http://www.econ.ucsb.edu/faculty/bedard.htm">Kelly Bedard</a>,
<a target=_blank href="http://www.elsevier.com:80/inca/publications/store/7/4/3/"><B>Economics of Education Review</B></A>, 22, 1 (February), 31-43, 2003.

<DT><a target=_blank href="http://www.jstor.org/stable/2646719"><em>A Sequential Game Model of Sports
Championship Series: Theory and Estimation</em></a>,
with <a target=_blank href="http://www.econ.yale.edu/faculty1/smith.htm">
Anthony A. Smith, Jr.</a>, <a target=_blank href="http://mitpress.mit.edu/journal-home.tcl?issn=00346535"><strong>Review of Economics and Statistics</strong></a>,
LXXXI, November 1999, 704-19.

<DT><a target=_blank href="http://www.jstor.org/stable/2566993"><em>Incentives and Transactions Costs Within the Firm: Estimating an Agency Model Using Payroll Records</em></a>,
with <a target=_blank href="http://www.ecn.ulaval.ca/w3/professeurs/shearer.html">Bruce Shearer</a>,
<a target=_blank href="http://www.restud.com/"><strong>Review of Economic Studies</strong></a>,
66, 2, 309-338, 1999.


<DT><a target=_blank href="http://www.jstor.org/stable/136374"><em>Endogenous Work Hours and Practice Patterns of Canadian Physicians</em></a>,
with <a target=_blank href="http://qed.econ.queensu.ca/pub/faculty/gregory">Allan Gregory</a> and William Tholl,
<a target=_blank href="http://economics.ca/cje/cje.html"><strong>Canadian Journal of Economics</strong></a>, 31,
1,1-27, 1998.

<DT><a target=_blank href="http://www.jstor.org/stable/1392300"><em>Unemployment Insurance Eligibility and the Transition from School to Work in Canada and the United States</em></a>,
<a target=_blank href="http://www.amstat.org/publications/jbes/">
<strong>Journal of Business and Economic Statistics</strong></a> 15, 2, April, 1997,
115-129.

<DT><em><a target=_blank href="http://www.jstor.org/stable/146239">Empirical Analysis of Occupational Hierarchies</A></em>,
<a target=_blank href="http://www.ssc.wisc.edu/jhr/"><strong>Journal of Human Resources 32</strong></a>, 1, 1-34,
Winter 1997.

<DT><em>Routines to Maximize a Function in Stata</em>,
<a target=_blank href="http://www.stata.com/products/stb/journals/stb38.html"><strong>Stata Technical Bulletin</strong></a>, 38, July, 1997, 22-26.  Text and programs available in <a target=_blank href="stata"><TT>http://econ.queensu.ca/~ferrall/stata/</TT></a>.

<DT><a target=_blank href="http://www.jstor.org/stable/136216"><em>Promotions and Incentives in Partnerships: Evidence from Major U.S. Law Firms</em></a>,
<a target=_blank href="http://economics.ca/cje/cje.html"><strong>Canadian Journal of Economics 29</strong></a>, 4, 1996, 811-827.

<DT><em>Interactive Statistics Tutorials in Stata</em>,
<a target=_blank href="http://www.amstat.org/publications/jse/v3n3/ferrall.html"><strong>Journal of Statistics Education</strong></a>, Vol 3, 3, 1995.

<DT><em><a target=_blank href="http://www.jstor.org/stable/2524918">Levels of Responsibility in Jobs and the Distribution of Earnings
Among U.S. Engineers, 1961-1986</a></em>,
<a target=_blank href="http://www.ilr.cornell.edu/depts/ILRrev/"><strong>Industrial and Labor
Relations Review</strong></a>, Vol. 49, No 1, October 1995, 150-169.

</DL>
