
NOTES:
<SUP>*</SUP>: awarded the annual Curtis Prize for best QED thesis within the last two years.
<SUP>+</SUP>: Designated Social Sciences Outstanding Thesis.

<a target="_blank"  href="https://www.fss.ulaval.ca/notre-faculte/repertoire-du-personnel/bruce-shearer">
Bruce Shearer</a>
: Professor, <a target="_blank"  href="http://www.ecn.ulaval.ca/">Department of Economics</a>, Laval University. Ph.D., December 1994.
:  Title: <em>Empirical Models of Labour Market Incentives: Applications to the Brittania Copper Mine.</em> (co-supervisor: <a target="_blank"  href="http://qed.econ.queensu.ca/pub/faculty">Charles Beach</a>).

<a target="_blank"  href="http://www.ihrp.uic.edu/researcher/lisa-m-powell-phd">Lisa Powell</a>
: Professor and Director of Health Policy and Administration, <a target="_blank"  href="http://www.uic.edu/depts/ovcr/hrpc/">Institute for Health Research and Policy</a>,
      University of Illinois at Chicago. Ph.D., July 1995. 
: Title: <em>Child Care and Female Labour Supply</em> (co-supervisors: <a target="_blank"  href="http://qed.econ.queensu.ca/pub/faculty">Charles Beach</a> and <a target="_blank"  href="http://qed.econ.queensu.ca/pub/faculty">Tom Crouchene</a>).

<a target="_blank"  href="http://www.econ.ucsb.edu/cgi-bin/faculty.cgi?f=kelly">Kelly Bedard</a>
: Professor, <a target="_blank"  href="http://www.econ.ucsb.edu/">Department of Economics</a>,
      University of California at Santa Barbara. Ph.D., September 1996.
: Title: <em>The Structure of Education and the Distribution of Wages</em><SUP>*</SUP>

<a target="_blank"  href="https://home.cc.umanitoba.ca/~lbrown/">Laura Brown</a>
: Associate Professor, <a target="_blank"  href="http://www.umanitoba.ca/faculties/arts/economics/">Department of Economics</a>, University of Manitoba. Ph.D., December 1996.
: Title: <EM>An Equilibrium Model of Unemployment Insurance in a Cyclical Economy,</em>.

<a target="_blank"  href="https://www.uvic.ca/socialsciences/economics/faculty-staff/home/faculty-directory/auldchristopher.php">Christopher Auld</a>
: Associate Professor, <a target="_blank"  href="http://web.uvic.ca/econ/index.php">Department of Economics</a>,  University of Victoria.  Ph.D. June, 1999.      Title: <em>Three Essays on the Economics of Health-Related Behaviour</em><SUP>*</SUP>.

<a target="_blank"  href="">Raymond Yeung</a>
: Chief China Economist, <a target="_blank"  href="http://www.anz.com/">ANZ Banking Group</a>. Ph.D. September 1999. 
: Title: <em>Towards a Family Model of the Labour      Market Behaviour of Immigrants: Estimates of a Discrete Choice Dynamic Programming Model</em>.

<a target="_blank"  href="https://www.ualberta.ca/business/about/contact-us/school-directory/andrew-leach">Andrew Leach</a>
: Associate Professor, School of Business, University of Alberta. Ph.D. December 2003. Title: <em>Three Papers on the Economics of Climate Change</em><SUP>*</SUP>.

<a target="_blank"  href="https://uwaterloo.ca/economics/people-profiles/kathleen-rybczynski">Kathleen Rybczynski</a>
: Associate Professor,<a target="_blank"  href="http://economics.uwaterloo.ca/">Department of Economics</a>, University of Waterloo. Ph.D. December 2005.
: Title: <em>Gender Differences In Self-Employment: The Contribution of Credit Constraints and Risk Aversion to Self-Employment Entry, Duration, and Earnings in Canada</em>.

<a target="_blank"  href="http://www.nhh.no/en/research---faculty/department-of-economics/sam/cv/s%C3%B8rensen,-erik-%C3%B8.aspx">Erik &Oslash;. S&oslash;rensen</a>
: Associate Professor, <a target="_blank"  href="http://www.nhh.no/Default.aspx?ID=100">Department of Economics</a>, Norwegian School of Economics and Business Administration (NHH), dr. &oslash;con January 2006.
: Title: <em>Essays on the production of human capital</em> (supervisory committee member).

<a target="_blank"  href="https://econ.wisc.edu/staff/houde-jean-francois/">J. F. Houde</a>
: Associate Professor, <a target="_blank"  href="https://econ.wisc.edu/">Department of Economics</a>, University of Wisconsin, Ph.D. July 2006. 
: Title: <em>An Empirical Investigation of Spatial Differentiation and Price Floor Regulations in Retail Markets for Gasoline</em><SUP>*</SUP><SUP>+</SUP> (co-supervisor Susumu Imai).

<!-- <DT><a target="_blank"  href="mailto:leec@econ.queensu.ca">Carrie Lee</a>, Ph.D. candidate, Department of Economics, Queen's  University.</dt> -->

<a target="_blank"  href="https://irpp.org/people/natalia-mishagina/">Natalia Mishagina</a>
: Research Director, <a target="_blank"  href="https://irpp.org/">Institute for Research on Public Policy</a> , Ph.D. September 2009. 
: Title: <em><a target="_blank"  href="https://qspace.library.queensu.ca/handle/1974/793/items-by-author?author=Mishagina,+NATALIA">Labor Market Behavior of Sciences and Engineering Doctorates: Three Essays</a></em>. (co-supervisor Susumu Imai).

<a target="_blank"  href="mailto::pcardoor@banrep.gov.co">Pamela Cardozo</a>
: Researcher, <a target="_blank"  href="http://www.banrep.gov.co/index_eng.html">Central Bank of Colombia</a>, Ph.D. December 2009. 
: Title: <em><a target="_blank"  href="https://qspace.library.queensu.ca/handle/1974/793/items-by-author?author=Cardozo,+Pamela">Bidders' Behaviour and Theory of Share Auctions with Applications to the Colombian Primary Bond Market</a></em>.

<a target="_blank"  href="https://sites.google.com/view/dprbyrne/">David Byrne</a>
: Associate Professor, Department of Economics, University of Melbourne, Ph.D., December 2010. 
: Title: <em>An Empirical Study of the Causes and Consequences of Mergers in the Canadian Cable Television Industry </em><SUP>*</SUP> (co-supervisor Susumu Imai).

<a target="_blank"  href="https://www.rotman.utoronto.ca/FacultyAndResearch/Faculty/FacultyBios/Webb.aspx">Ryan Webb</a>
: Assistant Professor, Rotman School of Business, University of Toronto, Ph.D., June 2011.
: Title: <em>Towards a Neural Measure of Value and the Modelling of Choice in Strategic Games</em>, (co-supervisor Michael C. Dorris).

Michael Barber, Ph.D. 
: Adjunct Lecturer, Department of Economics, Queen's, Ph.D., December 2018.
