
<h3><A name="wkpap">Working Papers</A></h3>
<DL>

<DT><em><a href="http://www.econ.queensu.ca/working_papers/papers/qed_wp_1200.pdf">Wages and Seniority When Coworkers Matter: Estimating a Joint Production Economy Using Norwegian Administrative Data</a></em>, with <a href="http://www.nhh.no/sam/cv/salvanes-kjell.html">Kjell Gunnar Salvanes</a> and <a href="http://homepage.mac.com/sameos/research/">Erik Øiolf Sørensen</a>, QED working paper 1200, April 2009.</DT>

<DT><em><a href="http://www.econ.queensu.ca/working_papers/papers/qed_wp_1194.pdf">Should I Stay or Should I Go &hellip; North? First Job Location of U.S. Trained Doctorates 1957-2005</a></em>, with Natalia Mishagina, QED working paper 1194, January 2009, (updated July 2010).</DT>
<DT><A href="http://econ.queensu.ca/~ferrall/papers/experiments.pdf"><I>Estimation and Inference in Social Experiments</I></A>, 2004, 55 pages.</DT>

<DT><em><A href="http://econ.queensu.ca/~ferrall/papers/transition.pdf">The Transition to Work  for Canadian University Graduates:  Time to First Job, 1982-1990</A></em> with <a href="http://weber.ucsd.edu/~jbetts/">Julian Betts</a> and Ross Finnie, Statistics Canada <A href="http://www.statcan.gc.ca/cgi-bin/af-fdr.cgi?l=eng&loc=http://www.statcan.gc.ca/pub/11f0019m/11f0019m2000141-eng.pdf&t=The%20Transition%20to%20Work%20for%20Canadian%20University%20Graduates:%20Time%20to%20First%20Job,%201982-1990%20(Analytical%20Studies%20Branch%20Research%20Paper%20Series)">research report #141</A>,
<!-- revision requested,  <A href="http://qsilver.queensu.ca/~cpp/"><B>Canadian Public Policy</B></A>, October 2001.-->

<DT><em><A href="http://econ.queensu.ca/~ferrall/papers/lifecycle.pdf">Human Capital Theory and the Life-Cycle Pattern of Learning and Earning, Income and Wealth</A></em>, with  <A href="http://www.sfu.ca/~dandolfa/">David Andolfatto</A> and <A href="http://www.clev.frb.org/research/economists/gomme/index.htm">Paul Gomme</A>, working paper, May, 2000.
</DT>

</DL>
